# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.ai201proj5
venv/
env/
ENV/

# SQLite databases
*.db
instance/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# macOS
.DS_Store

# Editor
.vscode/
.idea/
